.weather {
    width: 500px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgba(23, 6, 6, 0.3);
    color: rgb(255, 248, 248);
    background-color: #524954;
    margin: 20px auto 0 auto;
    padding: 20px 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: centre;
}

.city{
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    margin: 5px;
    color: #c9c9c9;
}

.weather-icon{
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 80px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details {
    width: 100%;
    padding-left: 30px;
}

.parameter-details {
    font-size: 22px;
    padding-left: 90px;
    text-decoration: underline;
    padding-bottom: 2px;
    color: rgb(154, 150, 46);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parameter-row {
    display: flex;
    justify-content:space-between;
}

.parameter-label {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    
}

.parameter-value {
    align-items: right;
    font-weight: 600;
    font-size: 18px;
}

.parameter-label.top {
    border-bottom: 1px solid #fff;
}
